@{
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}
<div class="box">
    <h2>
        <a href="javascript:;" id="toggle-login-forms">Area de Entrada</a>
    </h2>
    <div class="block" id="login-forms">
        @using (Html.BeginForm("login", "eFWLA", new { accesscheck = ViewBag.AccessCheck }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "loginform", id = "mlgform" }))
        {
            @Html.AntiForgeryToken()
            <div class="error" style="display:none;">
                <img src="@Url.Content("~/Sources/warning_icon.png")" alt="Advertencia!" width="24" height="24" style="float:left; margin-right: 5px; " />
                <span></span>.
                <br clear="all" />
            </div>
            <label style="margin-left:20%;">Usuario: </label>
            <p style="margin-left:20%;">
                <input name="Username" id="Username" type="text" size="15" class="required username" autocomplete="off" />
            </p>
            <label style="margin-left:20%;">Contraseña: </label>
            <p style="margin-left:20%;">
                <input type="password" name="Password" id="Password" size="15" class="required password" autocomplete="off" />
            </p>
            <label style="margin-left:20%;">Código de Seguridad: </label>
            <p style="margin-left:20%;">
                <input type="text" name="captcha" id="captcha" size="15" class="required" autocomplete="off" />
                <img src="@Url.Content("~/Sources/captcha.jpg")" width="100" height="30" alt="security code" id="captchaImg" align="absmiddle">
                <input name="captcha2" id="captcha2" type="hidden" value="4vwrs" />
            </p>
            <p align="right" style="margin-right:20%;">
                <input class="loginbutton" type="submit" value="Ingresar" id="button_validate" />
            </p>
            <p align="center">
                Si olvidó sus códigos de acceso, presione
                <a href="retrieve_codes.php">aquí</a>
            </p>
        }
    </div>
</div>