.style1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.inbox { width:100%;border:0; }
.graybar { width:200px; background:#dddddd; height:5px; float:left;clear:both}
.colorbar {margin-top:-5px;width:1px;background-image:url(images/passwordstrength.jpg);height:5px; float:left;clear:both}
.percent {margin-top:0px;float:left}
.result {margin-top:0px;color:green; font-family:Tahoma;font-size:11px}