<h3>El Contrato 88-03-18-SJNFBA11Z2200602 fue ingresado con éxito</h3>
<table id='altgrid'>
    <thead>
    <th colspan='8'>Datos del Contrato</th>
    </thead>
    <tbody>
        <tr>
            <td colspan='4'>Nº Contrato</td>
            <td colspan='4'>88-03-18-SJNFBA11Z2200602</td>
        </tr>
        <tr>
            <td colspan='4'>Bono/Deuda o Pagaré</td>
            <td colspan='4'>SJNFBA11Z2200602</td>
        </tr>
        <tr>
            <td colspan='4'>Nº Factura</td>
            <td colspan='4'></td>
        </tr>
        <tr>
            <td colspan='4'>Saldo Inicial</td>
            <td colspan='4'>$25,000.00</td>
        </tr>
        <tr>
            <td colspan='4'>Tipo de Contrato</td>
            <td colspan='4'>Mueble</td>
        </tr>
        <tr>
            <td colspan='4'>Garantía</td>
            <td colspan='4'>Vehículo Particular</td>
        </tr>
        <tr>
            <td colspan='4'>Fecha de Emisión</td>
            <td colspan='4'>04-06-2018</td>
        </tr>
        <tr>
            <td colspan='4'>Fecha de Vencimiento</td>
            <td colspan='4'>04-06-2025</td>
        </tr>
        <tr>
            <td colspan='4'>Fecha de Primer Pago</td>
            <td colspan='4'>10-07-2018</td>
        </tr>
        <tr>
            <td colspan='4'>Fecha de Desembolso</td>
            <td colspan='4'>20-06-2018</td>
        </tr>
        <tr>
            <td colspan='4'>Clase de Contrato</td>
            <td colspan='4'>Personal</td>
        </tr>
        <tr>
            <td colspan='4'>Status del Contrato</td>
            <td colspan='4'><strong>Pendiente de Firma</strong></td>
        </tr>
    </tbody>
    <thead>
    <th colspan='8'>Datos del Fideicomiso</th>
    </thead>
    <tbody>
        <tr>
            <td colspan='4'>Banco Acreedor</td>
            <td colspan='4'>BANCO DAVIVIENDA, S.A.</td>
        </tr>
        <tr>
            <td colspan='4'>Firma Autorizada A</td>
            <td colspan='4'>LIZBETH GRIMALDO</td>
        </tr>
        <tr>
            <td colspan='4'>Identificación Firma A</td>
            <td colspan='4'>GERENTE DE SUCURSAL</td>
        </tr>
        <tr>
            <td colspan='4'>Firma Autorizada B</td>
            <td colspan='4'>FLORENCIA MARTINEZ</td>
        </tr>
        <tr>
            <td colspan='4'>Identificación Firma B</td>
            <td colspan='4'>SUB GERENTE DE SUCURSAL</td>
        </tr>
        <tr>
            <td colspan='4'>Valor Actual del Bien</td>
            <td colspan='4'>$25,000.00</td>
        </tr>
        <tr>
            <td colspan='4'>Letra Mensual</td>
            <td colspan='4'>$300.00</td>
        </tr>
        <tr>
            <td colspan='4'>Aplicar Letra Variable</td>
            <td colspan='4'>No</td>
        </tr>
        <tr>
            <td colspan='4'>Tasa de Interés</td>
            <td colspan='4'>5.75%</td>
        </tr>
        <tr>
            <td colspan='4'>Tasa de Interés Efectiva</td>
            <td colspan='4'>5.83%</td>
        </tr>
        <tr>
            <td colspan='4'>Comisión de Cierre</td>
            <td colspan='4'>$0.00</td>
        </tr>
        <tr>
            <td colspan='4'>% Comisión de Cierre</td>
            <td colspan='4'>0.00%</td>
        </tr>
        <tr>
            <td colspan='4'>Timbres</td>
            <td colspan='4'>$0.00</td>
        </tr>
        <tr>
            <td colspan='4'>Gastos de Notaría</td>
            <td colspan='4'>$0.00</td>
        </tr>
        <tr>
            <td colspan='4'>Comisión Fiduciaria</td>
            <td colspan='4'>$0.00</td>
        </tr>
        <tr>
            <td colspan='4'>Honorarios</td>
            <td colspan='4'>$0.00</td>
        </tr>
        <tr>
            <td colspan='4'><strong>Facilidad Garantizada</strong></td>
            <td colspan='4'><strong>Monto Garantizado</strong></td>
        </tr>
        <tr>
            <td colspan='4'>Préstamo</td>
            <td colspan='4'>$20.00</td>
        </tr>
    </tbody>
    <thead>
    <th colspan='8'>Datos del Cliente</th>
    </thead>
    <tbody>
        <tr>
            <td><strong>Rol</strong></td>
            <td><strong>Documento</strong></td>
            <td colspan='2'><strong>Número</strong></td>
            <td colspan='2'><strong>Nombre Legal Completo</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Fideicomitente</td>
            <td>Cédula</td>
            <td colspan='2'>8-310-78</td>
            <td colspan='2'>HUMBERTO ARNOLDO ARRUE MONTENEGRO</td>
            <td><a href='./modules/get_customer.php?ajax=true&width=640&CustID=85069' rel='prettyPhoto[ajax]'><img src='./images/icons/customers_preview.png' border='0' /></a></td>
            <td><a href='edt_customer.php?CustID=85069'><img src='./images/icons/customers_edit.png' border='0' /></a></td>
        </tr>
    </tbody>
    <thead>
    <th colspan='8'>Datos del Bien</th>
    </thead>
    <tbody>
        <tr>
            <td><strong>Placa</strong></td>
            <td><strong>Mes</strong></td>
            <td><strong>Marca</strong></td>
            <td><strong>Modelo</strong></td>
            <td><strong>Año</strong></td>
            <td><strong>Chasis</strong></td>
            <td><strong>Motor</strong></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td>&nbsp;</td>
            <td>NISSAN</td>
            <td>QASQHAI</td>
            <td>2018</td>
            <td>SJNFBA11Z2201603</td>
            <td>MR20515047W</td>
            <td><a href='./modules/get_moveable.php?ajax=true&width=640&height=80%&MaID=162874' rel='prettyPhoto[auto]'><img src='./images/icons/good_preview.png' border='0' /></a>&nbsp;&nbsp;<a href='./modules/edit_moveable.php?MaID=162874'><img src='./images/icons/good_edit.png' border='0' /></a></td>
        </tr>
    </tbody>
    <thead>
    <th colspan='8'>Impresión de Documentos</th>
    </thead>
    <tbody>
        <tr>
            <td colspan='4'>Contrato y Pagaré</td>
            <td colspan='4'>
                <!--@Url.Content("~/Sources/88-03-18-SJNFBA11Z2200602.pdf")-->
                <a href='./modules/contract_viewer.php?CID=156407&iframe=true&width=80%&height=80%' rel='prettyPhoto'>
                    <img src='./images/icons/attach.png' border='0'>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan='4'>Cartas</td>
            <td colspan='4'>
                <!--@Url.Content("~/Sources/Cartas88-03-18-SJNFBA11Z2200602.pdf")-->
                <a href='./modules/letters_viewer.php?CID=156407&iframe=true&width=80%&height=80%' rel='prettyPhoto[iframe]'>
                    <img src='./images/icons/attach.png' border='0'>
                </a>
            </td>
        </tr>
    </tbody>
</table>