@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <h2>
        <a id="toggle-dashboard" href="javascript:;">Mensajes Importantes</a>
    </h2>
    <div id="dashboard" class="block">
        <h3>Bienvenido a eFWLA</h3>
        <p align="justify">Este sistema le permitirá administrar la información de contratos de fideicomisos.</p>
        <p align="justify">
            Cualquier consulta no dude en contactar al

            <a href="mailto: webs@fwlatrust.com">administrador</a>
        </p>
    </div>
</div>