<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="SystemWebsite.Url" value="file:///C:/Users/javier.galdamez/Downloads/FWLA%20-%20Resultado%20Inscripción%20Contrato.html"/>
    <add key="SystemWebsite.UserName" value="tester"/>
    <add key="SystemWebsite.Password" value="apptividad"/>
    <add key="SystemWebsite.Captcha" value="4vwrs"/>
    <add key="DeathByCaptchaService.UserName" value=""/>
    <add key="DeathByCaptchaService.Password" value=""/>
  </appSettings>
</configuration>
