<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="SystemWebsite.Url" value="file:///C:/Users/javier.galdamez/Downloads/www.rp.gob.pa/BusquedaFolios.html"/>
    <add key="SystemWebsite.UserName" value="rpa.apptividad"/>
    <add key="SystemWebsite.Password" value="rpa.apptividad"/>
    <add key="DeathByCaptchaService.UserName" value=""/>
    <add key="DeathByCaptchaService.Password" value=""/>
  </appSettings>
</configuration>
